body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;	
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C79;
	text-decoration: underline;
}

.banner {
	width: 100%;
}

.principal {
	background: #FEFEFE;
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	color: rgba(0, 0, 0, 0.3);
	text-shadow: 2px 2px #FF0000;
}

/*
.titulo-centralizado:first-letter {
	font-weight: bold;
}

.titulo-centralizado:before {
	content: "[";
}

.titulo-centralizado:after {
	content: "]";
}
*/

p {
	
}

#missao {
	font-size: 20px;
}

em strong {
	color: red;
}

.itens {
	font-style: italic;
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "â­";
}

/*
.itens:nth-child(2n) {
	font-weight: bold;
}	
*/

.beneficios {
	background: #888888;
	padding: 3em 0;
	box-shadow: inset 0 0 30px #FF0000;

}

.imagem-beneficios {
	width: 60%;
	opacity: 0.3;
	transition: 400ms;
	box-shadow: 10px 10px 30px 20px #000000, -10px -10px yellow, -20px 20px rgba(255, 0, 0, 0.5);
}

.imagem-beneficios:hover {
	opacity: 1;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.video {
	width: 560px;
	margin: 2em auto;
}

footer {
	text-align: center;
	background: url("../imagens/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0;
}

/*
main > p {
	background: red;
}

img + p {
	background: blue;
}

img ~ p {
	background: yellow;
}

.principal p:not(#missao) {
	background: orange;
}
*/

@media screen and (max width: 480px) {
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}
	h1 {
		text-align: center;
	}
	nav {
		position: static;
	}
	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}